mat-card{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(78, 3, 107);
    color: white  
}

button{
    background-color: rgb(78, 3, 107);
    color: white;
}

mat-select{
    background-color: rgb(78, 3, 107);
    color: white;
}

mat-option{
    background-color:  rgb(35, 1, 49);
    color: white;
}
  