.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(106, 0, 177);
}

.header .logo {
  max-height: 80px;
}

.header .title-group {
  padding-left: 25px;
  display: flex;
  align-items: center;

  h1{
    color: white;
  }
}

.header .title-group i {
  padding-right: 5px;
}

mat-toolbar {
  background-color:rgb(44, 44, 44);
}

