button {
  margin: 0px 15px 0px 0px;
  background-color: rgb(44, 44, 44);
  color: white;
}
mat-card {
  background-color: rgb(78, 3, 107);
  color: white;
}
input::placeholder {
  color: gray;
}
.cancelar {
  margin-left: 80%;
}
button:hover {
  background-color: rgb(58, 58, 58);
  color: white;
}
