:host{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}



.mat-form-field{
    color: white;
}

mat-card{
    background-color: rgb(55, 30, 70);
}

.mat-form-field{
    width: 100%;
    min-width: 300px;
    color: white;
    
}

mat-card-title, mat-card-component{
    display: flex;
    justify-content: center;
}

.button{

    display: flex;
    justify-content: end;
}

.bt-create{
    margin-right: 18px;
}



#bt-cadastro:hover{
   
    scale: 1.02;
}
.bt-create:hover{
    scale:1.02;
}

.logo{
    max-height: 150px;
}

.logo:hover{
    scale: 1.5;
}

