<mat-card>
  <mat-card-title>Cadastrar Novo Torneio</mat-card-title>

  <form [formGroup]="form">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label style="color: white"> Nome do Jogo </mat-label>
      <input
        matInput
        name="nome"
        placeholder="Nome do Torneio"
        style="color: rgb(255, 255, 255)"
        formControlName="nome"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label style="color: white"> Categoria </mat-label>
      <input
        matInput
        name="categoria"
        placeholder="dd-MM-yyyy"
        style="color: rgb(255, 255, 255)"
        formControlName="categoria"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label style="color: white"> Regras </mat-label>
      <input
        matInput
        name="regras"
        placeholder="hh:mm"
        style="color: rgb(255, 255, 255)"
        formControlName="regras"
      />
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="cancel()" class="cancelar">
    Cancelar
  </button>
  <button mat-raised-button (click)="save()">Cadastrar</button>
</mat-card>
