mat-card{
  background-color: rgb(78, 3, 107);
  color: white;
}


.home{
  .title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }



  .subtitle{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2;
    color: white;
  }
}
.mat2{
  margin-top: 10px;
}

.vp-center {
  display: flex;
  justify-content: center;
}



.vp-center {
  display: flex;
  align-items: flex-start!important;


}