<mat-card>
    <mat-card-title>Alterar Perfil</mat-card-title>
  
    <form [formGroup]="formEquipe">
      <mat-form-field appearance="outline">
        <mat-label>Perfil</mat-label>
        <mat-select name="equipe" formControlName="equipe">
          <mat-option *ngFor="let equipe of equipes" [value]="equipe">
            {{ equipe.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('equipe')?.hasError('required')">
          Campo obrigatório
        </mat-error>
      </mat-form-field>
    </form>

    <br />
    <form [formGroup]="form">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label style="color: white"> Nome </mat-label>
        <input
          matInput
          name="nome"
          placeholder="Nome"
          style="color: rgb(255, 255, 255)"
          formControlName="nome"
        />
      </mat-form-field>
    </form>
  
    <button mat-raised-button (click)="cancel()" class="cancelar">
      Cancelar
    </button>
    <button mat-raised-button (click)="save()">Alterar</button>
  </mat-card>
  